<!DOCTYPE html>
<html lang="zh">
{% verbatim %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菜谱编辑</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.36/vue.global.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.js"></script>
</head>

<body id="app" style="background: #ecf5ff;">
    <div style="width: 100%;">
        <div style="height: 3rem; float: left;">

        </div>
        <div style="height: 3rem; float: left;">

        </div>
        <div style="height: 3rem; float: left;">

        </div>
    </div>
</body>
<script>
    app = {
        mounted() {
            axios.post('/cpglxzcpu').then(
                (res) => {
                    console.log(res.data);
                })
        },
    };
    Vue.createApp(app).mount('#app');
</script>
{% endverbatim %}
</html>